div
        {
            display: inline-block;
            margin-right: 20px;
        }
        img
        {
            height: 200px;
            width: 180px;
        }
        .img-1
        {
            animation: animation-1 3s ease-in-out infinite 2s;
        }
        .img-2
        {
            animation: animation-2 3s ease-in-out infinite 2s;
        }
        .container
        {
            justify-content: center;
            display: flex;
            margin-top: 15%;
        }
        @keyframes animation-1
        {
                from 
                {
                    transform: scale(.85);
                }
                50% {
                    transform: scale(1);
                }
                to {
                    transform: scale(.85);
                }
        }
        @keyframes animation-2
        {
                from 
                {
                    transform: scale(1);
                }
                50% {
                    transform: scale(.85);
                }
                to {
                    transform: scale(1);
                }
        }